doctype html
html(lang="pt-br")
    head 
        title Pug Page Teste
        meta(charset = 'utf-8')
        style 
            include styles/style.css

//- Arquivo de montado do head padrão das páginas
